#logo{
    height: 150px;
    width: 200px;
}
.cities{
    height: 150px;
    width: 150px;
}
.logos{
    height: 20px;
    width: 22px;
}
#logo{
    height: 60px;
    width: 60px;
}
#container{
    width: 100vw;
    height: 100vh;
}
