#llogo{
    height: 60px;
    width: 60px;
}
.logos{
    height: 20px;
    width: 22px;
}
.hotels{
    height: 200px;
    width: 250px;
}
#container{
    height: 100%;
    width: 100%;
}
body{
    background-color: #e0e0e0;
    margin: 0;
}
header,footer{
    background-color: rosybrown;
}
.hotelBlock{
    background-color: rgb(132,136,139);
    margin: 2%;
    width: 40%;
}