div{
    width: 70px;
    height: 70px; 
    
    border: 12px #f3f3f3 solid;
    border-radius: 50%;
    margin: 0 auto;
    border-top-color: #444444;
    margin-top: 20%;
    margin-bottom: 20%;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
    